---
apiVersion: v1
kind: Secret
metadata:
  name: plex-secret
  namespace: plex
type: Opaque
stringData:
  PLEX_CLAIM: "REPLACE-ME-WITH-YOUR-CLAIM-TOKEN" # <-- Go to [https://www.plex.tv/claim](https://www.plex.tv/claim) to generate a new token. It is valid for a few minutes.
